@charset "UTF-8";
/* Design by:Dyb Date:2017-11-23 */
*,body,h1,h2,h3,h4,h5,h6,ul,li,button,select {font-family:"Microsoft YaHei"; margin:0; padding:0; font-weight:100;}

ul,li {list-style:none;}
input,button,select {outline:none;}

/* Link Css */
a {text-decoration:none; transition:all ease .3s;}
a:after {text-decoration:underline}
a:hover {color:#2A3883; text-decoration:none;}
a:focus { text-decoration:none;}

/* About Font */
.fonts {font-family:Arial,"宋体";}
.bold {font-weight:700;}
.font10 {font-size:10px;}
.font12 {font-size:12px;}
.font14 {font-size:14px;}
.font16 {font-size:16px;}
.font18 {font-size:18px;}
.font20 {font-size:20px;}
.font22 {font-size:22px;}
.font24 {font-size:24px;}
.font30 {font-size:30px;}
.font36 {font-size:36px;}
.font42 {font-size:42px;}
.font48 {font-size:48px;}
.font50 {font-size:50px;}

/* About Color */
.black,.black a {color:#333;}
.white,.white a {color:#FFF;}
.gray,.gray a {color:#999;}
.grayL,.grayL a {color:#AAA;}
.red,.red a {color:#DB261D;}
.orange,.orange a {color:#FF4800;}
.yellow,.yellow a {color:#F4F92B;}
.green,.green a {color:#53D769;}
.blue,.blue a,.blueLine,.blueLine:hover,.blueLine a {color:#2EF5FC;}
.blueLine a,.blueLine:hover {text-decoration:underline;}
.blueLine a:hover {color:#09A8FA; text-decoration:none;}
.purple,.purple a {color:#8E5AA0;}
.panel-arrow-close{width: 20px;height: 113px;background:url("../../images/button30.png") no-repeat;display:block;position:absolute;top:64px;left:318px;z-index:10;cursor:pointer;}
.panel-arrow-close:hover{width: 20px;height: 113px;background:url("../../images/button33.png") no-repeat;display:block;position:absolute;top:59px;left:318px;z-index:10;cursor:pointer;}
.panel-arrow-open{width: 20px;height: 113px;background:url("../../images/button33-1.png") no-repeat;display:block;position:absolute;top:70px;left:8px;z-index:10;cursor:pointer;}
.window-panel-nob:before{display:none;}
/* About Float */
.fl {float:left;}
.fr {float:right;}
.clearAll{clear:both;}

/* About Margin */
.mt0 {margin-top:0;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt25 {margin-top:25px;}
.mb0 {margin-bottom:0;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:15px;}
.mb15 {margin-bottom:15px;}
.mb25 {margin-bottom:25px;}

/* About Position */
.posA {position:absolute;}
.posR {position:relative;}

/* About Display */
.block {display:block; width:100%; height:100%;}
.hide {display:none;}

/* About Icon */
.icon {display:inline-block; overflow:hidden; background:url("../../images/sprite.png") no-repeat;}

/*About Hand**/
.hand {cursor:pointer;}
/*自定义滚动条样式*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: #085E83;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: #085E83;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  height: 20px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #06B7DE;
}
/* 去掉百度地图logo */
.BMap_cpyCtrl {  
    display: none;  
}  
.anchorBL {  
    display: none;  
}  